<button [routerLink]="['/Ventas']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span>Regresar
</button>
<div class="page-top">
  <div class="content">
    <section id="datosGenerales">
      <div class="card o-hidden border-0 shadow-lg my-1">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-7">
              <!-- Tabla de detalles  d-none d-lg-block bg-registrar-bodega-imagen -->
              <div class="p-5">
                <div class="col-sm-14" id="dataTable_wrapper">
                  <div class="row">
                    <h3> Productos comprados</h3>
                    <div class="col-sm-12 col-md-6  separarArriba separarAbajo">
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar"
                        aria-controls="dataTable" placeholder="Buscar">
                    </div>
                    <hr>
                  </div>
                  <div class="col-sm-18 col-md-18">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
                        aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Valor unitario</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let detalle of detalles | filtroProducto">
                            <td>{{detalle.nombreProducto}}</td>
                            <td>{{detalle.valorProducto}}</td>
                            <td>{{detalle.cantidadProducto}}</td>
                            <td>{{detalle.totalDetalle}}</td>
                            <td>
                              <button type="button" class="btn btn-link"
                                (click)="eliminarDetalle(detalle)">Retirar</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Registrar venta</h1>
                </div>
                <form class="user" [formGroup]="formGroupVenta">
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" disabled class="form-control form-control-user required"
                        placeholder="Codigo de venta" formControlName="codigoVenta"
                        [ngClass]="{'is-invalid':controlVenta.codigoVenta.errors && controlVenta.codigoVenta.touched}">
                      <div *ngIf="controlVenta.codigoVenta.errors && controlVenta.codigoVenta.touched"
                        class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="controlVenta.codigoVenta.errors.required">Proporcione un
                          codigo de venta
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <input type="text" class="form-control form-control-user" bsDatepicker
                        [bsConfig]="{ isAnimated: true }" [bsValue]="bsValue"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="fechaMinima" [maxDate]="fechaMaxima"
                        formControlName="fecha" placeholder="Fecha">
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-user" name="clienteId"
                        placeholder="Seleccione el cliente o digite su identificación" formControlName="clienteId"
                        [ngClass]="{'is-invalid':controlVenta.clienteId.errors &&
                        controlVenta.clienteId.touched}" (click)="mostarClientes()" (click)="cambiarId()">
                      <div class="input-group-icon">
                        <i class="far fa-check-circle" (click)="recibirId()"></i>
                        <div *ngIf="controlVenta.clienteId.errors && controlVenta.clienteId.touched"
                          class="invalid-feedback">
                          <div class="validacion-texto" *ngIf="controlVenta.clienteId.required">Seleccione el
                            cliente
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user required" placeholder="Observacion"
                      formControlName="observacion" name="observacion"
                      [ngClass]="{'is-invalid':controlVenta.observacion.errors && controlVenta.observacion.touched}">
                    <div *ngIf="controlVenta.observacion.errors && controlVenta.observacion.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="controlVenta.observacion.errors.required">Proporcione una
                        observacion</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <select class="form-dropdown border-verde" (change)="cambiarEmpleado($event)">
                      <option selected>Seleccionar empleado</option>
                      <option [ngValue]="empleado" *ngFor="let empleado of empleados">{{empleado.identificacion}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" disabled class="form-control form-control-user required"
                      placeholder="Total venta" formControlName="totalVenta" name="totalVenta">
                  </div>
                  <hr>
                  <a (click)="onSubmit()" class="btn btn-success btn-user btn-block">
                    Registrar venta
                  </a>
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<br>
<div class="serpararArriba">
  <div *ngIf="nombreBodegaSeleccionada!=null;else noSeleccionada">
    <h1 class="h3 mb-2 text-gray-800">Productos disponibles en {{nombreBodegaSeleccionada}}</h1>
  </div>
  <ng-template #noSeleccionada>
    <h1 class="h3 mb-2 text-gray-800">Seleccione una bodega para ver los productos disponibles</h1>
  </ng-template>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div id="dataTable_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-4 separarArriba separarAbajo">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar" aria-controls="dataTable"
            placeholder="Buscar">
        </div>
        <div class="col-sm-12 col-md-4 separarArriba separarAbajo">
          <div class="form-group">
            <select class="form-dropdown border-verde" (change)="cambiarBodega($event)">
              <option selected>Seleccionar bodega</option>
              <option [ngValue]="bodega" *ngFor="let bodega of bodegas">{{bodega.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 separarArriba separarAbajo">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="numberCantidad"
            aria-controls="dataTable" placeholder="Cantidad">
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>Referencia</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productoBodega of productoEnBodegas|filtroProducto:textoABuscar; index as i ">
                  <td>{{productoBodega.producto.codigo}}</td>
                  <td>{{productoBodega.producto.nombre}}</td>
                  <td>{{productoBodega.producto.precio}}</td>
                  <td>{{productoBodega.cantidad}}</td>
                  <td>
                    <button type="button" class="btn btn-link" (click)="agregarDetalle(productoBodega)">Agregar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
