<div class="container-fluid">
  <div *ngIf="usuario.tipo == 'Administrador'">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
    </div>

    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Cantidad de café disponible
                </div>
                <div *ngIf="productosTraidos; else consultando">
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                    {{sumaMateriaDiariaCafe}}
                  </div>
                </div>
                <ng-template #consultando>
                  <p class="text-danger"><b>Un momento...</b></p>
                </ng-template>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                  Cantidad caña de azúcar disponible
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div *ngIf="sumaMateriaDiariaConsultada; else consultando">
                      <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{
                        sumaMateriaDiariaCanaAzucar
                        }}</a>
                      <a class="h6 mb-0 mr-3 font-weight-bold text-gray-800">KG</a>
                    </div>
                    <ng-template #consultando>
                      <p class="text-danger bold">Un momento...</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  Cantidad cacao disponible
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div *ngIf="productosTraidos; else consultando">
                      <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{
                        sumaCantidadCacao
                        }}</a>
                      <a class="h6 mb-0 mr-3 font-weight-bold text-gray-800">KG</a>
                    </div>
                    <ng-template #consultando>
                      <p class="text-danger bold">Un momento...</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                  Solicitudes pendientes
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div *ngIf="sumaSolicitudConsultada; else consultando">
                      <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800 text-danger">{{
                        sumaCantidadSolicitud
                        }}</a>
                    </div>
                    <ng-template #consultando>
                      <p class="text-danger bold">Un momento...</p>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 separarArriba separarAbajo">
    <div class="form-group">
      <select class="form-dropdown border-verde" (change)="cambiarBodega($event)">
        <option selected>Seleccionar bodega</option>
        <option [ngValue]="bodega" *ngFor="let bodega of bodegas">{{bodega.nombre}}</option>
      </select>
    </div>
  </div>
  <div>
    <canvas id="myChart" width="450" height="250"></canvas>
  </div>

  <div *ngIf="usuario.tipo == 'Productor'">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
    </div>
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Utilidad (Mensual)
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                  Cantidad restante de caña de azucar por procesar
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{
                      sumaCanaProductor
                      }}</a>
                    <a class="h6 mb-0 mr-3 font-weight-bold text-gray-800">KG</a>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  Cantidad restante de café por procesar
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{
                      sumaCafeProductor
                      }}</a>
                    <a class="h6 mb-0 mr-3 font-weight-bold text-gray-800">KG</a>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Cantidad restante de cacao por procesar
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <a class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{
                      sumaCacaoProductor
                      }}</a>
                    <a class="h6 mb-0 mr-3 font-weight-bold text-gray-800">KG</a>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Informe</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">
          Cantidad materia prima procesada<span class="float-right">20%</span>
        </h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="20" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
