<button [routerLink]="['/MateriasPrima']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div class="content">
  <section id="datosGenerales">
    <div class="card o-hidden border-0 shadow-lg my-1">
      <div class="card-body p-0">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Registrar recepción de materia prima</h1>
          </div>
          <form class="user" [formGroup]="formGroup">
            <div class="form-group">
              <input type="text" class="form-control form-control-user" name="codigo" placeholder="Código"
                formControlName="codigo" [ngClass]="{'is-invalid':control.codigo.errors &&
                  control.codigo.touched}">
              <div *ngIf="control.codigo.errors && control.codigo.touched" class="invalid-feedback">
                <div class="validacion-texto" *ngIf="control.codigo.errors.required">Proporcione una cantidad
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group separarArriba">
                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }"
                  [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="fechaMinima"
                  [maxDate]="fechaMaxima" formControlName="fecha" placeholder="Seleccione una Fecha">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control form-control-user" name="codigoProductor"
                  placeholder="Seleccione un Productor" formControlName="codigoProductor" [ngClass]="{'is-invalid':control.codigoProductor.errors &&
              control.codigoProductor.touched}" (click)="mostrarProductores()" (click)="recibirId()">
                <div class="input-group-icon">
                  <div *ngIf="control.codigoProductor.errors && control.codigoProductor.touched"
                    class="invalid-feedback">
                    <div class="validacion-texto" *ngIf="control.codigoProductor.errors.required">Seleccione el
                      productor
                      responsable
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select class="form-dropdown border-verde " (change)="cambiarTipo($event)">
                <option [ngValue]="null">Seleccione el tipo de materia prima ingresada</option>
                <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <input type="number" class="form-control form-control-user" name="cantidad"
                placeholder="Cantidad de materia prima ingresada en Kg" formControlName="cantidad" [ngClass]="{'is-invalid':control.cantidad.errors &&
                  control.cantidad.touched}">
              <div *ngIf="control.cantidad.errors && control.cantidad.touched" class="invalid-feedback">
                <div class="validacion-texto" *ngIf="control.cantidad.errors.required">Proporcione una cantidad
                </div>
              </div>
            </div>
            <hr>
            <a (click)="onSubmit()" class="btn btn-success btn-user btn-block">
              Registrar Materia Prima
            </a>
            <hr>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
