<button [routerLink]="['/Productos']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div *ngIf="seEncontro; else noEncontrado">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Información General</div>
              <div class="h2 mb-0 font-weight-bold text-gray-800">{{producto.codigo}}</div>
              <div class="h5 mb-0 font-weight-normal text-gray-800">{{producto.nombre}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Precio</div>
              <div class="h2 mb-0 font-weight-normal text-gray-800">{{producto.precio}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Contenido neto</div>
              <a class="h4 mb-0 font-weight-normal text-gray-800"> {{producto.contenidoNeto}}</a>
              <a class="h4 mb-0 font-weight-bold text-gray-800"> {{producto.unidadMedida}}</a>
            </div>
            <div class="col-auto">
              <i class="fas fa-box fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Descripción</div>
              <a class="h4 mb-0 font-weight-light text-gray-800"> {{producto.descripcion}}</a>
            </div>
            <div class="col-auto">
              <i class="fas fa-pen fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Categoria</div>
              <a class="h4 mb-0 font-weight-light text-gray-800"> {{producto.nombreCategoria}}</a>
            </div>
            <div class="col-auto">
              <i class="fas fa-pen fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center separarAbajo">
    <button routerLink='/EditarProducto/{{producto.codigo}}' type="button" class="btn btn-labeled btn-info">
      <span class="btn-label"><i class="fas fa-pencil-alt"></i></span> Editar</button>
  </div>
</div>
<hr>
<h3>Bodegas donde se encuentra {{producto.nombre}} </h3>
<div class="card shadow mb-4">
  <div class="card-body">
    <div id="dataTable_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6 separarArriba separarAbajo">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar" aria-controls="dataTable"
            placeholder="Buscar">
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>Bodega</th>
                  <th>Dirección Bodega</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bodegaStock of bodegaStocks|filtroBodega:textoABuscar; index as i ">
                  <td>{{bodegaStock.bodega.nombre}}</td>
                  <td>{{bodegaStock.bodega.direccion}}</td>
                  <td>{{bodegaStock.cantidad}}</td>
                  <td>
                    <a routerLink='/Bodega/{{bodegaStock.bodega.nombre}}'>Ver</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noEncontrado>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
</ng-template>
