<button [routerLink]="['/AjustesDeInventario']" type="button" class="btn btn-labeled btn-light">
    <span class="btn-label"><i class="fas fa-arrow-left"></i></span>Regresar</button>
  <div *ngIf="seEncontro; else noEncontrado">
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Información General</div>
                <div class="h2 mb-0 font-weight-bold text-gray-800">{{ajusteInventario.codigoAjuste}}</div>
                <div class="h5 mb-0 font-weight-normal text-gray-800">{{ajusteInventario.tipoAjuste}}</div>
                <div class="h5 mb-0 font-weight-normal text-gray-800">{{ajusteInventario.fecha}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Elemento ajustado</div>
                <div class="h2 mb-0 font-weight-bold text-gray-800">{{ajusteInventario.tipoElemento}}</div>
                <div class="h5 mb-0 font-weight-normal text-gray-800">{{ajusteInventario.codigoElemento}}</div>
                <div class="h5 mb-0 font-weight-normal text-gray-800">{{ajusteInventario.nombreElemento}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Cantidad ajustada</div>
                <a class="h4 mb-0 font-weight-bold text-gray-800"> {{ajusteInventario.cantidad}}</a>
              </div>
              <div class="col-auto">
                <i class="fas fa-box fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Descripción</div>
                <a class="h4 mb-0 font-weight-light text-gray-800"> {{ajusteInventario.descripcion}}</a>
              </div>
              <div class="col-auto">
                <i class="fas fa-pen fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Bodega</div>
                <a class="h4 mb-0 font-weight-light text-gray-800"> {{ajusteInventario.nombreBodega}}</a>
              </div>
              <div class="col-auto">
                <i class="fas fa-pen fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center separarAbajo">
      <button (click)="eliminar()" type="button" class="btn btn-labeled btn-danger">Eliminar</button>
    </div>
</div>
<ng-template #noEncontrado>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</ng-template>
