<h1 class="h3 mb-2 text-gray-800">Insumos</h1>
<div class="card shadow mb-4">
  <div class="card-body">
    <div id="dataTable_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="separarArriba">
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="textoABuscar"
              aria-controls="dataTable"
              placeholder="Buscar"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="text-right separarAbajo separarArriba">
            <button
              [routerLink]="['/Insumos']"
              type="button"
              class="btn btn-labeled btn-success"
            >
              <span class="btn-label"><i class="fas fa-plus"></i></span> Nuevo
            </button>
          </div>
        </div>
        <hr />
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
              role="grid"
              aria-describedby="dataTable_info"
              style="width: 100%;"
            >
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Uso</th>
                  <th>Registro ICA</th>
                  <th>Resultado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr *ngFor="let insumo of insumos|filtroAjusteInventario:textoABuscar; index as i ">
                  <td>{{insumo.nombre}}</td>
                  <td>{{insumo.uso}}</td>
                  <td>{{insumo.registroIca}}</td>
                  <td>{{insumo.resultado}}</td>
                  <td>
                    <a routerLink='/Insumo/{{insumo.codigo}}'>Ver</a>
                    <a> / </a>
                    <a routerLink='/EditarInsumo/{{insumo.codigo}}'>Editar</a>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
