<h1 class="h3 mb-2 text-gray-800">Registro de materia prima de {{productor.nombre}} {{productor.apellido}} </h1>
<div class="card shadow mb-4">
  <div class="card-body">
    <div id="dataTable_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar" aria-controls="dataTable"
            placeholder="Buscar">
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="text-right separarAbajo">
            <hr>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cantidad</th>
                  <th>Unidad de Peso</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let MateriaPrima of materiaPrimas; index as i ">
                  <td>{{MateriaPrima.fecha | date}}</td>
                  <td>{{MateriaPrima.cantidad}}</td>
                  <td>Kg</td>
                  <td>{{MateriaPrima.estadoMateria}}</td>
                  <td>
                    <a routerLink='/MateriaPrima/{{MateriaPrima.codigo}}'>Ver</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
