<div class="page-top">
  <div class="content">
    <section id="datosGenerales">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-registrar-productor-imagen"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Registrar Proveedor</h1>
                </div>
                <form class="user" [formGroup]="formGroup">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="cedulaProductor"
                      placeholder="Número de cédula" formControlName="cedulaProductor"
                      [ngClass]="{'is-invalid':control.cedulaProductor.errors && control.cedulaProductor.touched}">
                    <div *ngIf="control.cedulaProductor.errors && control.cedulaProductor.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.cedulaProductor.errors.required">Proporcione su
                        número de cédula
                      </div>
                      <div class="validacion-texto"
                        *ngIf="control.cedulaProductor.errors.minlength  || control.cedulaProductor.errors.maxlength || control.cedulaProductor.errors.validarNumeroCedula">
                        Proporcione un
                        número de cédula válido
                      </div>
                    </div>
                  </div>
                  <div class=" form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" name="nombreProductor"
                        placeholder="Nombre del Productor" formControlName="nombreProductor"
                        [ngClass]="{'is-invalid':control.nombreProductor.errors && control.nombreProductor.touched}">
                      <div *ngIf=" control.nombreProductor.errors && control.nombreProductor.touched"
                        class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.nombreProductor.errors.required">Ingrese su
                          nombre
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" name="apellidoProductor"
                        placeholder="Apellido del Productor" formControlName="apellidoProductor"
                        [ngClass]="{'is-invalid':control.apellidoProductor.errors && control.apellidoProductor.touched}">
                      <div *ngIf="control.apellidoProductor.errors && control.apellidoProductor.touched"
                        class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.apellidoProductor.errors.required">Ingrese su
                          apellido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="nombrePredio"
                      placeholder="Nombre del predio" formControlName="nombrePredio"
                      [ngClass]="{'is-invalid':control.nombrePredio.errors && control.nombrePredio.touched}">
                    <div *ngIf="control.nombrePredio.errors && control.nombrePredio.touched" class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.nombrePredio.errors.required">Proporcione el
                        nombre
                        del predio
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <select class="form-dropdown border-verde " name="municipio" (change)="cambiarMunicipio($event)">
                        <option [ngValue]="null" disabled> Municipio </option>
                        <option [ngValue]="municipio" *ngFor="let municipio of municipios">{{municipio}}</option>
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-dropdown border-verde " name="vereda" (change)="cambiarVereda($event)">
                        <option [ngValue]="null" disabled> Vereda </option>
                        <option [ngValue]="vereda" *ngFor="let vereda of veredas">{{vereda}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" name="codigoFinca"
                        placeholder="Código Finca" formControlName="codigoFinca"
                        [ngClass]="{'is-invalid':control.codigoFinca.errors && control.codigoFinca.touched}">
                      <div *ngIf=" control.codigoFinca.errors && control.codigoFinca.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.codigoFinca.errors.required">Ingrese el código
                          de
                          su finca
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" name="codigoSica"
                        placeholder="Código SICA" formControlName="codigoSica"
                        [ngClass]="{'is-invalid':control.codigoSica.errors && control.codigoSica.touched}">
                      <div *ngIf="control.codigoSica.errors && control.codigoSica.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.codigoSica.errors.required">Ingrese su
                          código SICA
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="numeroTelefono"
                      placeholder="Número de teléfono" formControlName="numeroTelefono"
                      [ngClass]="{'is-invalid':control.numeroTelefono.errors && control.numeroTelefono.touched}">
                    <div *ngIf="control.numeroTelefono.errors && control.numeroTelefono.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.numeroTelefono.errors.required">Proporcione su
                        número de teléfono
                      </div>
                      <div class="validacion-texto"
                        *ngIf="control.numeroTelefono.errors.minlength || control.numeroTelefono.errors.maxlength || control.numeroTelefono.errors.validarNumeroTelefono">
                        Ingrese un número de
                        teléfono válido
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="afiliacionSalud"
                      placeholder="Alifiación de Salud" formControlName="afiliacionSalud"
                      [ngClass]="{'is-invalid':control.afiliacionSalud.errors && control.afiliacionSalud.touched}">
                    <div *ngIf="control.afiliacionSalud.errors && control.afiliacionSalud.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.afiliacionSalud.errors.required">Proporcione su
                        afiliación de salud
                      </div>
                    </div>
                  </div>
                  <br>
                  <a href="RegistrarLote" class="btn btn-verde btn-user btn-block js-scroll-trigger">
                    Registrar Productor
                  </a>
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
