<button [routerLink]="['/Productores']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div class="page-top">
  <div class="content">
    <section id="datosGenerales">
      <div class="card o-hidden border-0 shadow-lg my-1">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-registrar-productor-imagen"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Registrar Productor</h1>
                </div>
                <form class="user" [formGroup]="formGroup">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="cedula"
                      placeholder="Cédula Ciudadanía" formControlName="cedula"
                      [ngClass]="{'is-invalid':control.cedula.errors && control.cedula.touched}">
                    <div *ngIf="control.cedula.errors && control.cedula.touched" class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.cedula.errors.required">Proporcione su
                        número de cédula
                      </div>
                      <div class="validacion-texto"
                        *ngIf="control.cedula.errors.minlength  || control.cedula.errors.maxlength">
                        Proporcione un
                        número de cédula válido
                      </div>
                    </div>
                  </div>
                  <div class=" form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" name="nombre"
                        placeholder="Nombre del Productor" formControlName="nombre"
                        [ngClass]="{'is-invalid':control.nombre.errors && control.nombre.touched}">
                      <div *ngIf=" control.nombre.errors && control.nombre.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.nombre.errors.required">Ingrese su
                          nombre
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" name="apellido"
                        placeholder="Apellido del Productor" formControlName="apellido"
                        [ngClass]="{'is-invalid':control.apellido.errors && control.apellido.touched}">
                      <div *ngIf="control.apellido.errors && control.apellido.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.apellido.errors.required">Ingrese su
                          apellido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="cedulaCafetera"
                      placeholder="Cédula Cafetera" formControlName="cedulaCafetera"
                      [ngClass]="{'is-invalid':control.cedulaCafetera.errors && control.cedulaCafetera.touched}">
                    <div *ngIf="control.cedulaCafetera.errors && control.cedulaCafetera.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.cedulaCafetera.errors.required">Proporcione su cédula
                        cafetra
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="nombrePredio"
                      placeholder="Nombre del predio" formControlName="nombrePredio"
                      [ngClass]="{'is-invalid':control.nombrePredio.errors && control.nombrePredio.touched}">
                    <div *ngIf="control.nombrePredio.errors && control.nombrePredio.touched" class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.nombrePredio.errors.required">Proporcione el
                        nombre
                        del predio
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <select class="form-dropdown border-verde " name="municipio" (change)="cambiarMunicipio($event)">
                        <option [ngValue]="null"> Municipio </option>
                        <option [ngValue]="municipio" *ngFor="let municipio of municipios">{{municipio}}</option>
                      </select>
                      <div *ngIf=" control.municipio.errors && control.municipio.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.municipio.errors.required">Seleccione un municipio
                          de la lista
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <select class="form-dropdown border-verde " name="vereda" (change)="cambiarVereda($event)">
                        <option [ngValue]="null"> Vereda </option>
                        <option [ngValue]="vereda" *ngFor="let vereda of veredas">{{vereda}}</option>
                      </select>
                      <div *ngIf=" control.vereda.errors && control.vereda.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.vereda.errors.required">Seleccione una vereda
                          de la lista
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" name="codigoFinca"
                        placeholder="Código Finca" formControlName="codigoFinca"
                        [ngClass]="{'is-invalid':control.codigoFinca.errors && control.codigoFinca.touched}">
                      <div *ngIf=" control.codigoFinca.errors && control.codigoFinca.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.codigoFinca.errors.required">Ingrese el código
                          de
                          su finca
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" name="codigoSica"
                        placeholder="Código SICA" formControlName="codigoSica"
                        [ngClass]="{'is-invalid':control.codigoSica.errors && control.codigoSica.touched}">
                      <div *ngIf="control.codigoSica.errors && control.codigoSica.touched" class="invalid-feedback">
                        <div class="validacion-texto" *ngIf="control.codigoSica.errors.required">Ingrese su
                          código SICA
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="numeroTelefono"
                      placeholder="Número de teléfono" formControlName="numeroTelefono"
                      [ngClass]="{'is-invalid':control.numeroTelefono.errors && control.numeroTelefono.touched}">
                    <div *ngIf="control.numeroTelefono.errors && control.numeroTelefono.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.numeroTelefono.errors.required">Proporcione su
                        número de teléfono
                      </div>
                      <div class="validacion-texto"
                        *ngIf="control.numeroTelefono.errors.minlength || control.numeroTelefono.errors.maxlength || control.numeroTelefono.errors.validarNumeroTelefono">
                        Ingrese un número de
                        teléfono válido
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="afiliacionSalud"
                      placeholder="Alifiación de Salud" formControlName="afiliacionSalud"
                      [ngClass]="{'is-invalid':control.afiliacionSalud.errors && control.afiliacionSalud.touched}">
                    <div *ngIf="control.afiliacionSalud.errors && control.afiliacionSalud.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.afiliacionSalud.errors.required">Proporcione su
                        afiliación de salud
                      </div>
                    </div>
                  </div>
                  <br>
                  <a (click)="onSubmit()" class="btn btn-success btn-user btn-block">
                    Registrar Productor
                  </a>                  
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
