<button [routerLink]="['/Bodegas']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div *ngIf="seEncontro; else noEncontrado">
  <div class="serpararArriba">
    <div class="row">
      <div class="col-sm-12 col-md-6 separarArriba separarAbajo">
        <h1 class="h3 mb-2 text-gray-800">Productos en {{bodega.nombre}} </h1>
      </div>
      <div class="col-sm-12 col-md-6 separarArriba separarAbajo">
        <div class="text-center separarAbajo">
          <button routerLink='/EditarBodega/{{bodega.nombre}}' type="button" class="btn btn-labeled btn-info">
            <span class="btn-label"><i class="fas fa-pencil-alt"></i></span> Editar</button>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <div id="dataTable_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-6 separarArriba separarAbajo">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar"
                aria-controls="dataTable" placeholder="Buscar">
            </div>
            <div class="col-sm-12 col-md-6 separarArriba separarAbajo">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
                  aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Referencia</th>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let productoBodega of productoEnBodegas|filtroProducto:textoABuscar; index as i ">
                      <td>{{productoBodega.producto.codigo}}</td>
                      <td>{{productoBodega.producto.nombre}}</td>
                      <td>{{productoBodega.cantidad}}</td>
                      <td>
                        <a routerLink='/Producto/{{productoBodega.producto.codigo}}'>Ver</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noEncontrado>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
</ng-template>
