<button [routerLink]="['/AjustesDeInventario']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div class="content">
  <div class="card o-hidden border-0 shadow-lg my-1">
    <div class="row">
      <div class="col-lg-7" [formGroup]="formGroup">
        <div class="p-5">
          <div class="col-sm-14" id="dataTable_wrapper">
            <div class="form-group row">
              <div>
                <div class="input-group col-sm-14 col-md-12 separarAbajo">
                  <input type="text" class="form-control input-sm" name="codigoMateriaPrima"
                    placeholder="Seleccionar materia prima" formControlName="codigoMateriaPrima" [ngClass]="{'is-invalid':control.codigoMateriaPrima.errors &&
                    control.codigoMateriaPrima.touched}" (click)="mostrarMaterias()" (click)="cambiarId()">
                  <div class="input-group-icon">
                    <i class="far fa-check-circle" (click)="recibirId()"></i>
                    <div *ngIf="control.codigoMateriaPrima.errors && control.codigoMateriaPrima.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.codigoMateriaPrima.errors.required">Seleccionar
                        materia prima</div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="input-group col-sm-14 col-md-12">
                  <input type="text" class="form-control form-control-user" name="codigoElemento"
                    placeholder="Seleccione el producto producido" formControlName="codigoElemento" [ngClass]="{'is-invalid':control.codigoMateriaPrima.errors &&
                  control.codigoElemento.touched}" (click)="mostrarProductos()" (click)="cambiarId()">
                  <div class="input-group-icon">
                    <i class="far fa-check-circle" (click)="recibirId()"></i>
                    <div *ngIf="control.codigoElemento.errors && control.codigoElemento.touched"
                      class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.codigoElemento.errors.required">Seleccione la materia
                        prima procesada
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <input type="number" class="form-control form-control-user" name="cantidad" placeholder="Cantidad"
                  formControlName="cantidad" [ngClass]="{'is-invalid':control.cantidad.errors &&
                      control.cantidad.touched}">
                <div *ngIf="control.cantidad.errors && control.cantidad.touched" class="invalid-feedback">
                  <div class="validacion-texto" *ngIf="control.cantidad.errors.required">Proporcione una cantidad</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-sm-14 col-md-6 separarAbajo">
              <input type="text" class="form-control" [(ngModel)]="textoABuscar" aria-controls="dataTable"
                placeholder="Buscar">
            </div>
            <div class="col-sm-18 col-md-18">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
                  aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Materia prima ID</th>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>Bodega</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ajuste of ajustes">
                      <td>{{ajuste.codigoMateriaPrima}}</td>
                      <td>{{ajuste.nombreElemento}}</td>
                      <td>{{ajuste.cantidad}}</td>
                      <td>{{ajuste.nombreBodega}}</td>
                      <td>
                        <button type="button" class="btn btn-link" (click)="eliminarAjuste(ajuste)">Retirar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div>
              <hr>
              <a (click)="agregarAjuste()" class="btn btn-success btn-block">Agregar</a>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Registrar Producción</h1>
          </div>
          <form class="user" [formGroup]="formGroupProduccion">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" disabled class="form-control form-control-user required" name="codigoProduccion"
                  placeholder="Código de produccion" formControlName="codigoProduccion"
                  [ngClass]="{'is-invalid':controlProduccion.codigoProduccion.errors && controlProduccion.codigoProduccion.touched}">
                <div *ngIf="controlProduccion.codigoProduccion.errors && controlProduccion.codigoProduccion.touched"
                  class="invalid-feedback">
                  <div class="validacion-texto" *ngIf="controlProduccion.codigoProduccion.errors.required">Proporcione
                    un código de produccion</div>
                </div>
              </div>
              <div class="col-sm-6 mb-2">
                <input type="text" class="form-control form-control-user" bsDatepicker [bsConfig]="{ isAnimated: true }"
                  [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}" [minDate]="fechaMinima"
                  [maxDate]="fechaMaxima" formControlName="fecha" placeholder="Fecha">
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-user required" name="descripcion"
                placeholder="Descripción" formControlName="descripcion">
            </div>
            <hr>
          </form>
          <form [formGroup]="formGroup">
            <div class="form-group">
              <select class="form-dropdown border-verde" (change)="cambiarTipoAjuste($event)">
                <option selected>Tipo</option>
                <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
              </select>
            </div>
          </form>
          <hr>
          <a (click)="onSubmit()" class="btn btn-success btn-user btn-block">
            Registrar Ajuste de Inventario
          </a>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>