<button [routerLink]="['/Productos']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div class="content">
  <section id="datosGenerales">
    <div class="card o-hidden border-0 shadow-lg my-1">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Información Actual</h1>
              </div>
              <div class="card border-left-primary mb-4">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Información General</div>
                      <div class="h2 mb-0 font-weight-bold text-gray-800">{{producto.codigo}}</div>
                      <div class="h5 mb-0 font-weight-normal text-gray-800">{{producto.nombre}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-box fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-left-success mb-4">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Precio</div>
                      <div class="h2 mb-0 font-weight-normal text-gray-800">{{producto.precio}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-left-info mb-4">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Descripción</div>
                      <a class="h4 mb-0 font-weight-light text-gray-800"> {{producto.descripcion}}</a>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-pen fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-edicion">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Editar Producto </h1>
              </div>
              <br>
              <form class="user" [formGroup]="formGroup">
                <div class="form-group">
                  <input type="text" class="form-control form-control-user required" name="codigo"
                    placeholder="Código del Producto" formControlName="codigo"
                    [ngClass]="{'is-invalid':control.codigo.errors && control.codigo.touched}" disabled>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user required" name="nombre"
                      placeholder="Nombre del Producto" formControlName="nombre">
                  </div>
                  <div class="col-sm-6">
                    <input type="number" class="form-control form-control-user" name="precio"
                      placeholder="Precio del Producto" formControlName="precio"
                      [ngClass]="{'is-invalid':control.precio.errors && control.precio.touched}">
                    <div *ngIf="control.precio.errors && control.precio.touched" class="invalid-feedback">
                      <div class="validacion-texto" *ngIf="control.precio.errors.required">Proporcione un precio
                        para el
                        producto
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-dropdown border-verde " name="categoria" (change)="cambiarCategoria($event)">
                    <option [ngValue]="null"> Categoria </option>
                    <option [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="number" class="form-control form-control-user required" name="cantidad"
                      placeholder="Cantidad de Presentación del Producto" formControlName="cantidad">
                  </div>
                  <div class="col-sm-6">
                    <select class="form-dropdown border-verde separarArriba" name="unidadMedida"
                      (change)="cambiarUnidadMedida($event)">
                      <option [ngValue]="null"> Unidad de Medida </option>
                      <option [ngValue]="unidadMedida" *ngFor="let unidadMedida of unidadMedidas">{{unidadMedida}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <input type="descripcion" class="form-control form-control-user" name="descripcion"
                    placeholder="Descripción" formControlName="descripcion">
                </div>
                <hr>
                <button (click)="onSubmit()" class="btn btn-success btn-user btn-block">
                  Editar Producto
                </button>
                <button (click)="eliminar()" class="btn btn-danger btn-user btn-block">
                  Eliminar Producto
                </button>
                <hr>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
