<h1 class="h3 mb-2 text-gray-800">Ventas</h1>
<div class="card shadow mb-4">
  <div class="card-body">
    <div id="dataTable_wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="textoABuscar" aria-controls="dataTable"
            placeholder="Buscar">
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="text-right separarAbajo">
            <button [routerLink]="['/RegistrarVenta']" type="button" class="btn btn-labeled btn-success">
              <span class="btn-label"><i class="fas fa-plus"></i></span> Registrar venta</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cliente ID</th>
                  <th>Observacion</th>
                  <th>Total venta</th>
                  <th>Empleado Responsable ID</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let venta of ventas|filtroBodega:textoABuscar; index as i ">
                  <td>{{venta.fecha | date}}</td>
                  <td>{{venta.clienteId}}</td>
                  <td>{{venta.observacion}}</td>
                  <td>{{venta.totalVenta}}</td>
                  <td>{{venta.empleadoId}}</td>
                  <td>
                    <a routerLink='#'>Ver</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
