<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="usuario">Usuario</label>
                  <input type="text" formControlName="usuario" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
                  <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                    <div *ngIf="f.usuario.errors.required">El usuario es requerido</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contrasena">Contraseña</label>
                  <input type="password" formControlName="contrasena" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                  <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                    <div *ngIf="f.contrasena.errors.required">La contraseña es requerida</div>
                  </div>
                </div>
                <div class="form-group">
                  <button href="/" [disabled]="loading" class="btn btn-primary btn-user btn-block"
                    (click)="onSubmit()" >
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Iniciar sesión
                  </button>
                </div>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="SolicitudRegistro.html">¿Eres un productor? ¡Haz clic aquí para enviar una
                  solicitud de registro!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>