<button [routerLink]="['/Clientes']" type="button" class="btn btn-labeled btn-light">
  <span class="btn-label"><i class="fas fa-arrow-left"></i></span> Regresar</button>
<div *ngIf="seEncontro; else noEncontrado">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Información General</div>
              <a class="h2 mb-0 font-weight-lighter text-gray-800"> {{cliente.tipoIdentificacion}}</a>
              <div class="h2 mb-0 font-weight-bold text-gray-800">{{cliente.identificacion}}</div>
              <div class="h5 mb-0 font-weight-normal text-gray-800">{{cliente.nombre}}</div>
              <div class="h4 mb-0 font-weight-normal text-gray-800">{{cliente.apellido}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-id-card fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ubicación</div>
              <a class="h2 mb-0 font-weight-light text-gray-800"> {{cliente.departamento}}</a>
              <div class="h2 mb-0 font-weight-normal text-gray-800">{{cliente.municipio}}</div>
              <div class="h5 mb-0 font-weight-normal text-gray-800">{{cliente.direccion}}</div>
              <div class="h4 mb-0 font-weight-light text-gray-800">{{cliente.barrio}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-map-marked fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Información de Contacto</div>
              <a class="h2 mb-0 font-weight-bold text-gray-800"> {{cliente.numeroTelefono}}</a>
              <div class="h2 mb-0 font-weight-bold text-gray-800">{{cliente.numeroTelefono2}}</div>
              <div class="h5 mb-0 font-weight-normal text-gray-800">{{cliente.email}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-phone fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noEncontrado>
  <div class="text-center font-weight-bold text-danger">
    Cliente no encontrado
  </div>
</ng-template>
