<h1 class="h3 mb-2 text-gray-800">Productores</h1>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class=" dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter"><input type="search"
                class="form-control form-control-sm" (ngModel)="textoABuscar" aria-controls="dataTable"
                placeholder="Buscar"></div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="text-right separarAbajo">
              <button [routerLink]="['/RegistrarEmpleado']" type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fas fa-plus"></i></span> Registrar Empleado</button>
            </div>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>CC</th>
                  <th>Nombre </th>
                  <th>Apellido </th>
                  <th>Cédula Cafetera </th>
                  <th>Código Finca</th>
                  <th>Código SICA </th>
                  <th>Municipio </th>
                  <th>Vereda </th>
                  <th>Número Teléfono </th>
                  <th>Afiliación Salud </th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd text-center" *ngIf="listaVacia">
                  <td valign="top" colspan="10" class="dataTables_empty"> <strong>No se encontraron datos</strong> </td>
                </tr>
                <tr *ngFor="let empleado of empleados|filtroProductor:textoABuscar; index as i ">
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
