<thead>
  <tr>
    <th scope="col" ># </th>
    <th>Numero de Lote </th>
    <th>Variedad </th>
    <th>Sistema de Renovación </th>
    <th>Fecha de Siembra </th>
    <th>Cultivo </th>    
    <th>Epoca de Cosecha </th>
    <th>Epoca de Floración </th>
    <th>Estimado de Cosecha </th>
    <th>Tipo de Estimado </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let lote of lotes; index as i ">
    <td>{{ lote.numeroLote }}  </td>
    <td>{{ lote.variedad }}</td>
    <td> {{lote.sistemaRenovacion}} </td>
    <td> {{lote.fechaSiembra}} </td>
    <td> {{lote.cultivo}} </td>    
    <td> {{lote.epocaCosecha}} </td>
    <td> {{lote.epocaFloracion}} </td>
    <td> {{lote.estimadoCosecha}} </td>
    <td> {{lote.tipoEstimado}} </td> 
  </tr>
</tbody>

